git+https://github.com/Rapptz/discord.py@rewrite
boto == 2.49.0
beautifulsoup4 ==  4.7.1
bs4 == 0.0.1
discord == 0.16.12
matplotlib == 3.0.3
numpy == 1.16.2
requests == 2.21.0
scipy == 1.2.1
pyimgur == 0.6.0
PyMySQL == 0.9.3
